body{
    overflow-y:auto;
    overflow-x:hidden;
}
body::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}
body::-webkit-scrollbar-track {
    background-color: #ecedee
}
body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.5);
}
body::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}
body::-webkit-scrollbar {
    width: 4px;
}


.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout-danger {
	border-left-color: #ce4844;
}

.bs-callout-danger h4 {
	color: #ce4844;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.volume {
	font-size: 24px;
}

/* modified */


td {
	text-align: center;
    /*padding: 2px;*/
}

/* Выделение столбца таблицы */
/* td[num-day="4"] {
    background-color: rgba(24, 91, 207, 0.1);
} */

#deal-dates > th{
	/*color: #282B31;*/
    line-height: 1;
    padding: 6px 0px !important;
    border: none;
    background-color: transparent !important;
    /*font-size:0;*/
}

th.text-center.managpay,
th.text-center.managprepay{
    visibility: hidden;
    width: 80px;
}

/*.today {
	background-color: #FF9900 !important;
}
*/
.day-off {
	background-color: #a3a3a3 !important;
}

.manager {
	background-color: #D9D9D9;
}
.manager td:not(:last-child) {
    border-right-color: transparent !important;
}

tbody#deal-list {
    min-width: 900px;
}

tbody#deal-list > tr > td, th {
    padding: 2px 0;
    vertical-align: middle;

}

tbody#deal-list > tr {
    max-height: 20px;
}

div#app {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}

/*.payed {
	background-color: #B6D7A8;
}*/

.pre-payed {
	width: 79px;
	height: 29px;
}

.not-payed {
	background-color: rgba(255, 155, 161, .4);
    border-radius: 3px;
    display: block;
    margin:2px;
    position: relative;
    /*overflow: hidden;*/
/*    width: 63px;*/
    height: 24px;
    padding: 0 !important;
}

td.not-payed span.nopay:hover{
	background: #FF919B;
}



.not-payed span {
   /* display: block;*/
    cursor: pointer;
    margin-bottom: 6px;
    height: 22px;
    border-radius: 3px;
}

.left {
	text-align: left !important;
    padding-left: 8px !important;
}

.td-days {
	width: 70px;
    vertical-align: middle !important;
}

#dates {
    text-align: center;
    font-weight: bold;
}

.sum {
    width: 70px;
    font-size: 0.8em;
    font-weight: bold;
}

.span-pay {
    font-size: .8em;
}

.td-hr {
    display: none;

    width: 5px;
    padding: 0 !important;
    background-color: white !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}

a.click {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dashed;
}

a.click-black {
    cursor: pointer;
    text-decoration: none;
    /*border-bottom: 1px dashed;*/
    color: black;
}

a:hover.click-right, a:hover.click-left {
    cursor: pointer;
    /*text-decoration: none;
    color: #0e0e0e;*/
}

.first-col {
    width: 160px;
}

.manager-name {
    font-weight: bold;
}

.managpay {
  /*  background-color: #B6D7A8 !important;*/
    color: #333333 !important;
}

.managprepay {
   /* background-color:  #7B869A !important;*/
    color: #333333 !important;
}

.sum-payed {
    background: rgba(160, 233, 167, .5) !important;
    padding: 3px 10px;
    border-radius: 18px;
    /*opacity: 0.5;*/
    color: #282B31;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    background-size: 20px !important;
    display: inline-block;
    min-width: 60px;

}

.sum-not-payed {
    /*background: #7B869A !important;*/
    background:rgba(123, 134, 154, .5) !important;
    padding: 3px 10px;
    border-radius: 18px;
    /*opacity: 0.5;*/
    color: #282B31;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
    min-width: 60px;
}

#date-from, #sums-payed {
    text-align: center;
    white-space: nowrap;
    padding-right: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

#date-from{
    /*background: #185CCF;*/
/*    border-radius: 3px;
    height: 22px;
    width: 69px;*/
}

#sums-payed-day {
    padding-right: 5px;
    padding-left: 5px;
}

#sums-payed {
    padding-right: 40px;
    padding-left: 40px;
}

.td-plus {
    padding: 8px 0 !important;
}

#date-up-to, #sums-not-payed {
    text-align: center;
    white-space: nowrap;
    padding-left: 0;
}

#dates-prev-1, #dates-prev-2, #dates-prev-3, #dates-next-1, #dates-next-2, #dates-next-3, #date-from, #date-up-to {
    white-space: nowrap;
}

.dates-table td, .dates-table tr {
    border-top: 0 !important;
    line-height: 0.7 !important;
}

#deal-sums > td {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.table-bordered {
    border: none !important;

}

#top-indent-day {
    height: 10px;
}

.dates-td, .months-td {
    white-space:nowrap;
}

.empty {
    height: 150px;
}

.edit-duedates {
    width: 18px;
    height: 18px;
    line-height: 12px;
    padding: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    width: 5px;
    opacity: 0.2;
}

.tip-content {
    overflow-y: overlay;
    max-height: 40vh;
    margin-right: 4px;

    width: 283px;
}
.tip-content hr{
    opacity: .5;
    margin: 0;
}
.tip-content::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 5px
}
.tip-content::-webkit-scrollbar-track {
    /* background-color: #ecedee; */
}
.tip-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.5);
}
.tip-content::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}
.tip-content::-webkit-scrollbar {
    width: 4px;
}

tr.invoice-tr .tooltip .tooltip-inner {
    max-width: initial;

    /*padding: 3px 8px;*/
    color: #000;
    text-align: left;
    text-decoration: none;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 3px 15px rgba(47, 70, 83, 0.22);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
   /* margin-top: -230px;*/
}


.datepickers-container {
    z-index: 10000;
}

.income {
    background-color: #a3a3a3;
    font-weight: bold;
    display: none;
}


/* progress-bar */
.progress-bar-j {
    display: none;
    background-color: #505050;
    height: 25px;
    padding: 5px;
    width: 400px;
    margin: 120px auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar-j span {
    display: inline-block;
    height: 100%;
    background-color: #777;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

.orange span {
    background-color: #92D050;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD966), to(#92D050));
    background-image: -webkit-linear-gradient(top, #FFD966, #92D050);
    background-image: -moz-linear-gradient(top, #FFD966, #92D050);
    background-image: -ms-linear-gradient(top, #FFD966, #92D050);
    background-image: -o-linear-gradient(top, #FFD966, #92D050);
    background-image: linear-gradient(top, #FFD966, #92D050);
}

.shine span {
    position: relative;
}

.shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-animation: animate-shine 2s ease-out infinite;
    -moz-animation: animate-shine 2s ease-out infinite;
}

@-webkit-keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}


@-moz-keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}
/* progress-bar */


.corrEndMinus {
    background-color: #ff4f4f;
}

.corrEndPlus {
    /*background-color: #00B050;*/
   /* background-color: #B6D7A8;*/
}

.inputCorr {
    margin-top: 5px;
}


.modal-body{
    position: relative;
    padding: 20px;
    padding-top: 0px;
}




.modal-body label {
    min-width: 100px;
}

tr#balance-corr > td > a {
    cursor: pointer;
    color: #000000;
    text-decoration: none !important;
    border-bottom: 1px dashed;
}

tr#balance-corr > td > a:hover, tr#balance-corr > td > a:visited {
    color: #000000;
    /*font-weight: bold;
    text-decoration: none !important;
    border-bottom: 1px dashed;*/
}



.flex-container {
    display: flex;
}

header {
    text-align: center;
    margin: auto;
}
.sidebar-left {
    float: left;
    order: -1;
    max-width: 15%;
    align-self: center;
}

.sidebar-right {
    float: right;
    max-width: 15%;
    align-self: center;
}
footer {
    text-align: center;
    margin: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul,li{
    padding: 0;
    margin: 0;

}

ul{
    display: flex;
    justify-content: center;

}


.status li{
    font-size: 14px;
    margin-right: 25px;
}


li {
     list-style: none;  /*Скрываем маркеры списка
    */
}

.status{
    padding-bottom: 38px;
    padding-top: 24px;

}

.invoice-tr a {
    text-decoration: none;
    color:#185CCF;
}

.dates-td {
    transition: all .2s;
}

.dates-td a.todayWeek {
    background: #185CCF;
    border-radius: 3px;
    height: 22px;
    max-width: 69px;
    color: #fff;
    padding: 3px 7px 4px 6px;
    border-bottom: 1px;
}

.dates-td a.todayWeekA {
    user-select: none;
    color: #185CCF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
}
.dates-td a.todayWeekA:hover {
    opacity: .7;
}

.dates-td .todayWeekSelected {
    background: #185CCF;
    border-radius: 3px;
    height: 22px;
    max-width: 69px;
    color: #fff;
    padding: 3px 7px 4px 6px;
    border-bottom: 1px;
}

/* .dates-td a.todayWeek:hover {
    color: #fff;
    opacity: .7;
} */

.dates-td .click:hover {
    color: #185CCF;
}

/*.todayWeekA {
    color:#7B869A !important;
}*/

#date-from .todayWeek,
#date-from .todayWeekA{
    background: #185CCF;
    border-radius: 3px;
    height: 22px;
    max-width: 69px;
    color: #fff;
    padding: 3px 7px 4px 6px;
}

#date-from {
    /* color: #7B869A; */
    user-select: none;
    color: #185CCF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
}


.dates-td a{
    color: #7B869A;
    text-transform:uppercase;
    font-style: normal;
	font-weight: 600;
	font-size: 11px;
}

#deal-income {
    display: none !important;

}
#deal-income td{
    background: #fff;
    font-size: 0;
}


#manager0, #manager1, #manager2, #manager3 td{
    background: #fff;
}

th.today.text-center{
    color: #282B31;
    font-size: 14px;
}

tr#balance-end.text-center{
    font-weight: bold;
}

tr#balance-end.text-center td{
    border-color: transparent !important;
}


td.pre-payed span:hover {
    background: #7B869A !important;

}
td.pre-payed span {
    background: rgba(123, 134, 154, .5) !important;
    border-radius: 2px;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
    overflow: hidden;
/*    width: 63px;
    height: 20px;*/
}

.nopay {
    overflow: hidden;
    position: relative;
    display: block;
    /*background:rgba(160, 233, 167, .4);*/
}

td[data-invoiceid] span.nopay:after {
    content: '';
    position: absolute;
    top: 10px;
    right: -13px;
    width: 22px;
    height: 8px;
    background-color: rgba(0,0,0,0.3);
    transform: rotate(45deg);
    transform-origin: top right;
}

td.pre-payed span.blue-arrow {
    color: blue;
    display: inline-block;
    font-weight: 600;
    position: relative;
    top: 2px;
}


.blue-arrow{
    color:blue;
    position: relative;
    top: -1px !important;
}

td.pre-payed .tooltip-inner span,
td.pre-payed .tooltip-inner span:hover {
    background: initial !important;
}

td.payed span{
    border-radius: 2px;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    /*width: 63px;*/
    /*height: 20px;*/
}

td.payed span[data-original-title] {
    background: rgba(160, 233, 167, .4)!important;
}

.payed span[data-original-title]:hover{
	background: rgba(160, 233, 167, .8) !important;
}

td.payed span.nopay[data-original-title]:hover{
    background: rgba(160, 233, 167, .8);
    border-radius: 2px;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
}


a.edit-duedates.click-black {
    color:#282B31;
}

a.edit-duedates.click-black:hover  {
    color:#282B31;
}

.managpay.number{
    background: rgba(160, 233, 167, .5)!important;
    border-radius: 18px;
    margin:4px;

}

.managprepay.number{
    background: rgba(123, 134, 154, .5)!important;
    border-radius: 18px;
    margin:4px;
}


/*a.click:hover {
     color:#185CCF;
}*/

.months-td {
    user-select: none;
}
td#dates-month-prev-1.months-td{
    color:#7B869A;
    text-transform:uppercase;
    font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	padding-top: 12px;
}

td#dates-month-next-1.months-td{
    color:#7B869A;
    text-transform:uppercase;
    font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	padding-top: 12px;
}

#balance-end td.text-center {
    text-align: left;
    padding-left: 8px;
}
/*.pre-payed .tooltip {
    margin-top: -10px;
}*/
.pre-payed .tooltip .tooltip-arrow {
    background-color: #fff;
}
.pre-payed .tooltip .tooltip-inner {
    background-color: #fff;
}

.tooltip-arrow {
    visibility: hidden;
}

a.report-date{
    color: #185CCF;
    font-size: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    text-decoration: underline dashed #185CCF;
    line-height: 19px;
    display: flex;
    padding-top: 7px;
    padding-left: 12px;
    background: #F7F9FA;
    border-radius: 3px 3px 0px 0px;
    width: 283px;
    height: 40px;
    margin-top: -3px;
    margin-bottom: 0;
}

.first-line{
    font-size: 12px;
    color: #7B869A;
    text-align: left;
    padding-left: 9px;
    display: flex;
    padding-top: 11px;
}

.second-line{
    font-weight: 600;
    font-size: 14px;
    color: #282B31;
    padding-top: 5px;
    text-align:left;
    padding-left: 9px;
    word-wrap:normal;
    font-style: normal;
    display: flex !important;
}

.text-center2{
    color: #282B31;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align:left;
    padding: 15px 0;
}

.text-center3{
    padding-left: 10px;
    display: flex;
    padding-top: 5px;
   /* padding-bottom: 20px;  */
   /* border-bottom: 1px solid #E2E5E6;*/
}



.text-content .text-center2:last-child {
    border-bottom: 1px solid #E2E5E6;
}



.text-content span.text-center4{
    padding-left: 10px;
    background: #fff !important;
}
.text-content span.text-center4:hover{
    padding-left: 10px;
    background: #fff !important;
}

.datepicker--day-name.-weekend- {
    color: #CE7070;
}

.datepicker-inline{
    margin: 0 auto;
    /*margin-left: 150px;*/
}

.modal-content{
    width:283px;
    height: auto;
    display: none;
    box-shadow: none;
    background: #fff;
}


.duedate-textarea {
    margin-top: 0px;
    width: 100%;
    height: 70px;
    resize: none;
    border: 1px solid #DDE1E3;
    background: #F7F9FA;
    border-radius: 2px;
    padding-left: 12px;
    padding-top: 10px;
}


.modal-footer {
    margin: 0;
    padding: 0;
    border-top: 0px;
    width: 243px;
    height: 42px;
}



.btn-success{
    background: #3BC7F5 !important;
    border-radius: 3px;
    border-color: #3BC7F5 !important;
    width:243px;
    color:#fff !important;
    height:42px;
    text-transform: uppercase;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    padding-left: 80px !important;
    margin-left:19px;
    margin-bottom: 20px;
    margin-top:-15px;
}

.modal-header{
    padding: 0px;
    border-bottom: 0px;
    height: 40px;
    background: #F7F9FA;
    border-radius: 3px 3px 0px 0px;
}

button.btn{
    background: #F7F9FA;
    color:#7B869A;

}

 button.btn:hover{
    color:#7B869A;
}

.datepicker,
.datepicker--nav {
    border: none;
}


a .edit-duedates .click-black:hover{
	display:block;
}

#deal-dates .today span,
#date-month-from .todayWeek {
	color: #185CCF;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
}

/* #deal-dates .today span.day {
	color: #7B869A;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
} */


#deal-dates .day-off{
	color: #282B31;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}

#deal-dates .day-off span {
	color: #FF919B;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}

#deal-dates .text-center span.text{
	color:#7B869A;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}

#deal-dates .text-center {
	color: #282B31;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}

.modal-dialog {
    width: 600px;
    margin: 150px 350px;
}


.pre-payed span:hover {
    cursor: pointer;
}

.payed span:hover {
    cursor: pointer;
}


.datepicker--cell.-disabled-{
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #282B31;
    font-family: 'Open Sans';
}

.btn span.line{
    border-bottom: 1px dashed #7B869A;
    background: #F7F9FA !important;
}

.btn{
    padding: 8px 18px;
}


.tooltip.in{
    opacity: 1;
}


.datepicker--cell.-selected-{
    color: #fff;
    background: #185CCF;
    border-radius: 50%;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
   /* height: 24px;
    width: 25px;
    margin-top: 5px;*/
}

 .datepicker--cell.datepicker--cell-day.day-report{
    border: 1px solid #185CCF;
    box-sizing: border-box;
    border-radius: 50%;
}

.text-content .text-center2:not(:last-child) {
	border-bottom: 1px solid #E2E5E6;
}

.payed .report-date {
    display:none;
}

.payed .text-center2 {
    padding-top: 0px;
}


